.git
.gitignore

.idea
.vscode

venv
.venv

__pycache__
.pytest_cache
.mypy_cache
.ruff_cache

allure-report

*.pyc
*.pyo
*.pyd

*.log

screenshots
downloads
logs
project_description

dist
build

.env

README.md

coverage.xml
htmlcov

.cache